
@dark-y : #f3a847;
@medium-y : #f9b732;
@ebm-grey : #555;

@media (min-width: 1200px){

	.container {
		width: 1280px;
	}

}

/* Old home : http://103.17.208.47:8080/page/homepage   */

/* GENERAL ------------------------------------------------------------------------------------------------*/

/* font-style -------------------------------*/
body {
	font-family: Arial, san-serif;
	font-size: 14px;
}

h1 {
    font-size: 1.7em;
	color: #555!important;
}


/*  font color -------------------------------*/




/*  button  -------------------------------*/

.btn-default {
    color: @ebm-grey;
	
		&:hover {
		background: @dark-y;
	}
}

.btn-group-lg>.btn, .btn-lg {
    padding: 12px 30px;
    font-size: 16px;
}


a.btn.btn-primary,.btn.btn-primary {
    background-color: @medium-y;
    border-color: transparent;
    font-weight: bold;
	
	&:hover {
	    background-color: #555;
		border-color: #555;
	}
	
}

a:hover.btn.btn-primary {
    background-color: #555;
    border-color: #555;
}

a.btn.btn-lg {
    font-size: 14px;
}





/* NAVIGATION ------------------------------------------------------------------------------------------------*/

/* TOP NAV -------------------------------------*/
#row1 {
    background-color: #222;
	
	span {
		color: #ddd;
		font-size : 13px;
	}
	
	#user_access {
	
		>div {
			border-color: #555;
			
			&#user_logout,&#user_register {
				border-right: 1px solid #555!important;
			}

			>a {
				color: #ddd!important;
				font-size : 13px;
			}
		}
	}
}



#row2 {

	#compnay_details {
		display: none;
	}
	
	#sale_cart {
		right: 0px;
		float: right;
	}

}


@media (min-width: 992px) {

	#user_access .col-md-3 {

	}

}

.label-primary {
    background-color: @dark-y;
}


/*  LOGO HEADER  -------------------------------*/


.mt32#compnay_name {
    margin-top: 17px !important;
}

.mb32#sale_search {
    margin-top: 40px;
}


.mt48#sale_cart {
    margin-top: 33px !important;
}

.mb32#compnay_name {
    margin-bottom: 22px !important;
}

.mb32#sale_search {
    margin-bottom: 22px !important;
}

.mb48#sale_cart {
    margin-bottom: 38px !important;
}



.s_logo_image .img-responsive {
    margin-left: 10px;
}

/*  shopping cart -------------------------------*/

#row2 {
	    background: transparent;
		border-bottom: 1px solid #efefef;

	#sale_cart {

		right : -10px;


		a .fa {
			margin-right: 5px;
			font-size: 21px;
			vertical-align: -2px;
		}
	}

}


/*  MENU  -------------------------------*/
.nav>li>a {
    padding: 13px 20px;
}

.nav>li:first-child >a {
		padding-left: 10px;
}

.navbar.navbar-default .navbar-nav {

	a {	
		color : #777!important;
	
		&:hover {color: @dark-y!important;}
	}

	
	>.active a {
		color: @dark-y!important;
		font-weight: bold;
	}
}


#wrapwrap .navbar-default {
    background-color: #fff!important;
}



/* PRODUCT LISTING ------------------------------------------------------------------------------------------------*/

.product-list .owl-item .product-single .single-product {
    border: none;
	
	&:hover {
		border: none;
	}
	
	
	section {
		
		h5 {
			font-size: 16px;
			max-height: 45px;
			margin-bottom: 5px;
			height: auto;
			
			&.product-name a {
				color: #666!important;
			}
		}
		
		.product_price b span {
			font-size: 14px;
			color: #333;
			font-weight: bold;
		}
	}
	
	hr,.operation-btn {
		display: none;
	}
}







/* HOME PAGE ------------------------------------------------------------------------------------------------*/

/* Home banners */
.snippet_banner.snippet_banner_carousel {
    background-image: none;
	padding-top: 30px;
}






/* OFFER OF THE MONTH  ------------------------------------------------------------------------------------------------*/

.products_pager>.row {
    background-color: transparent;
    border: none;
}


.oe_product section {
    padding-bottom: 25px!important;
}

.oe_product .oe_product_cart {
     border: none;
	 &:hover { border: none;}
	 
	h5 {

		height: auto;
		max-height : 45px;	
		
		a {
			color: #555;
			font-size: 14px;
			font-family: Arial,sans-serif;
			
			&:hover {
				color : @dark-y;
			}
		}
	 
		
	}
	 
	 .product_price b>span {
		font-size: 14px;
		color: #333;
		font-weight: 700;
	}
	 

	 .product_price a.add-to-cart {
		display: none;
	}
	 
}


.owl-theme .owl-controls .owl-buttons {
    top: -55px;
	
	div{
	
		color: #555!important;
		
		&:hover {
			color: #f3a847!important;
		}
	}
}


hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border-color: #eee;
}


/* CATEGORY GRID */



#oe_categories_grid {
	padding-top: 15px;
	padding-bottom: 70px;
}


@media (min-width: 1200px) {


	#oe_categories_grid {

		.oe-height-4 {
			height: 320px;
			
			.oe_category_body{
				padding-left: 0px;
				
				h5 a {
					color: #555;
					font-weight: normal;
					
					&:hover {
						color: @dark-y;	
					}
				}
			}	
		}
	}

}



/* SHOP PAGE  ------------------------------------------------------------------------------------------------*/


.category-menu {
	border: none;
    border-right: 1px solid #f0f0f0;
	
	#o_shop_collapse_category li {
	
		a {
			width: 70%;
			font-size : 12px;
		}
	
		i.fa {
				top: 5px!important;
				right: 40px!important;
				color: #bbb!important;
				font-size: 15px;
			
			
				&.fa-chevron-right:before {
					content: "\f107";
				}
				
				&.fa-chevron-down:before {
					content: "\f106";
				}				
					
		}
		
		
		
	}
	
	

	
	.nav-hierarchy {
		border: none;
	}
	
	h3 {
		display:none;
	}
	
	>ul {
	
		ul{
		
			margin-top: 3px;
			>li {
				padding-bottom: 0px;
				padding-top: 0px;
				
				&:last-child { padding-bottom: 3px;}
				
				&:hover,&.active{
					background-color: transparent;
					color: @dark-y;
					
					>a {
						
						&:hover, &.active{
							background-color: transparent!important;
							color: @dark-y!important;
						}	
						
					}
					
				}
				
				>a {
						padding-left: 20px!important;
						color: #333;
						
						&:hover, &.active{
							background-color: transparent!important;
							color: @dark-y!important;
						}	
						
				}
				
				>ul >li >a { padding-left: 30px!important;}
				
			}
		}
	
			li {
				border-bottom: none;
				padding : 2px 0;
			}
	
	
	
		>li {

			
			&.active {
				color: @dark-y;
				background-color: #fff;
			}
			
			
			>a {
				padding-left: 10px!important;
				color: #333;
				
				
				&:focus, &:hover {
					color: @dark-y;
					background-color: transparent;
				}
				
				
			}
		}	
	
	}

	
	
	 .nav-pills>li.active>a,  .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
		color: @dark-y;
		background-color: transparent;
		font-weight: bold;
	}
	
}

.oe_product section {
	bottom : 40px!important;
}


.pagination>li>a, .pagination>li>span {
	border: none;
	
	&:hover,&:focus {
		    color: #fff;
    background-color:@dark-y;
    border-color: transparent;
	
	}
	

}


.pagination>.active {
	>a, >span {
			color: @dark-y;
			background-color: transparent;
			border-color: transparent;
			font-size: 14px;
			font-weight: bold;
			
			&:hover {
				color: @dark-y;
				background-color: transparent;
				border-color: transparent;
				font-size: 14px;
				font-weight: bold;			
			}
	
	}
}


.oe_website_sale{
	.products_pager{
		margin-top: 0px;
			&:first-child {
				margin-top: 30px;
			}
		
		
		.pagination{
			margin-top: 0px;
		}
	}

}




.oe_product .ribbon.btn-danger {
    background-color: @dark-y;
    border-color: @dark-y;	
}





@media (min-width: 992px) {

	#products_grid_before {
		width: 20%
	}
	
	#products_grid {
		width : 80%; 
	}

}


/* SORT BUTTON --- */

.products_pager>.row {
	.sorting-btn {
		color: #555;
		margin: 0px 0 0px 20px;
		font-size : 13px;
		
		.btn.btn-default {
			color: #555;
			border-color: #e4e4e4!important;
			background-color: #fff!important;
			font-size: 13px;
		}
		
		.dropdown-menu li>a span {
			color: #555!important;
			font-size: 13px;
		}
	}
	
	.pagination {
		float: right;
		color: #888;
		margin-top: 0px;
	}
	
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #595959;
    background-color: @medium-y;
}



/* PRODUCT DETAIL  ------------------------------------------------------------------------------------------------*/

.js_sale {

	#product_detail{
	
		.breadcrumb {
			margin-bottom: 0px;
			margin-top: 5px;
		}
	
		 .image_bigsize #main_image a {
		 
			cursor: default;
		 
			 img {
				border: none;
				   width: 380px!important;
				height: 380px!important;
			}
		}
		
		#product_details{
			margin-left: 0px;
		
				h1, .js_sale #product_detail #product_price_section h1 {
				font-size: 32px;
				margin-bottom: 10px;
			}
		}
		
		.product_price.mt16 {
			 margin-bottom: 15px;
		
			.oe_price_h4 {
				.oe_price {
					font-size: 32px;
					color: @dark-y;
					font-weight: normal;
				}
				
				.oe_default_price {
					color: #777;
					font-size: 20px;
				}
			}
		}
		
		.services {

			font-size: 12px;
			
			b { margin: 0 10px; }
			
			i {
				margin-right: 7px;
				font-size: 18px;
				vertical-align: -3px;
				color: @dark-y;
			}
			
			a {

				color: #555;
				text-decoration: underline;
			}
		}
		
		
	}

	.owl-carousel .owl-item {
		float: left;
		width: 60px!important;
		border: 1px solid #ccc;
		margin-right: 20px;
		
		&:hover, &:focus {
			border-color: #e77600;
			border-radius: 2px;
		}
	}
}

.quotation-description {
    color: #555;
    line-height: 1.8;
}

.css_quantity {
    margin-bottom: 15px;
	
	.input-group-addon {
		background-color: transparent;
		border: none;
		
		&:first-child {
			padding-left: 0!important;
		}
		
		a {
			i {color : #000;
			
				&:hover {
					color: @dark-y;
				}
			}
			
		}
		
	}
	
	.js_quantity.form-control {
		color: #555;
	}
	
}
.js_product {

	i {
		color: #0060AA;
		&:hover {
			color: @dark-y;
		}
	}
	
	.add_to_wishlist {
		font-family: arial,sans-serif;
		margin-left: 7px;
		font-size: 15px;
		
		&:hover {
			color: @dark-y!important;
		}
		
	}


}


#add_to_cart {
    width: 40%;
    padding: 10px 10px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
	
	&:hover {
		background-color: #555;
		border-color: #555;
	}
}

.oe_categories {
	.oe_category {
		position: relative;
		width: 100%;
		height: 100%;
		border: none;
		
		.oe_category_image{
			left: 5px;
			right: 5px;
			top: 5px;
			bottom: 100px;
			
				img{				
				    left: 5px;
					right: 5px;
					top: 5px;
					bottom: 100px;
				}
		}
		
		.oe_category_body{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			padding: 0 15px 40px 10px;
			min-height: 56px;
			border-top: 1px solid rgba(255, 255, 255, 0.2);
			background: rgba(255, 255, 255, 0.75);
			z-index: 5;
		}
	}
}


#thumb-slider{
	margin-top: 10px!important;
	
	.owl-pagination{
		padding-top: 10px;
		
		.owl-page{
			span {
				width: 11px;
				height: 11px;
			}
		
			&.active span{
				background: @dark-y;
			}
		}
	}
	
	
}




.breadcrumb {
	>.active {
		color: @dark-y;
	}
	
	>li a {
		color: #666;
		font-size: 13px;
	}
}

/* FULL DESCRPTION -----------*/
#product_full_description {

	.full-desc-content {
	
		.tab-content{
			border: none;
			padding: 10px 0px;
		}
		
		.nav li.active a {
			border: none;
			border-bottom: 1px solid #f0f0f0;
		}
	}
}


.full-info-custom{

	color: #555!important;
	
	a {
		font-weight: bold;
		text-transform: capitalize;
		text-decoration: underline!important;
	}
	
	ul,ol {
		li,li span {
			font-size: 14px!important;
		
		}
	}
	
	h6{
		color: #666!important;
		font-size: 17px!important;
		margin-top: 30px!important;
		font-family: arial, san-serif!important;
		&:first-child { margin-top: 10px!important;}
	}
	
	ul {
		-webkit-padding-start: 15px;
		
		li {
			list-style-type: disc;
			margin-bottom: 7px;
		}
	
	}
	
	ol {
		-webkit-padding-start: 15px;
		padding-right: 5%;
		
		li {
			list-style-type: decimal;
			margin-bottom: 7px;
			padding-left: 10px;
		}
	
	}
	
	

	.prod-info-section {
		ul {
		
		-webkit-padding-start: 0px;
		    padding-right: 5%;
			
			li, li span{
				list-style-type: none;
				font-size: 15px!important;
				line-height: 1.3;
				margin-bottom: 10px;
				color: #777!important;
				letter-spacing: 0.1px;
			
			}
		
		}
	
	}
	

}




 


/* FOOTER  ------------------------------------------------------------------------------------------------*/

#wrapwrap footer {
    background-color: transparent;
    color: #333;
}

#footer_container, #footer {
    padding-top: 0px;
    padding-bottom: 0px;
	
	.snippet_three_block {
	    background-color: #fff;	
		padding: 48px 0;
		border-top: 1px solid #eee;
	}
	
	
}


.copyright-wrap{
	font-size: 12px;
	
	.text-muted {
		color: #555;
	}
	
}



/* CONTACT US  ------------------------------------------------------------------------------------------------*/


.contact-us {
	padding: 30px 0 70px 10px;
	
	address.mb0 {
		>div:first-child {
		
			margin-bottom: 10px;
			
			>span { 
				font-weight : bold;
				font-size: 16px
			}
		}
	
		i {
			margin-right: 4px;
			color: @dark-y;
		}
	
	}
	
}


.form-horizontal .control-label {
	text-align: left;
	font-weight: normal;
	color: #555;
}


.form-control {
    font-size: 14px;
    color: #555;
    border-radius: 0;
}


.form-group .btn-lg {
	margin-top: 10px;
}